<% if current_user?(@user) || admin? %>
  <header class="header-16">
      <div class="container">
          <div class="row">
              <div class="navbar" role="navigation">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle">
                          <span>MENU</span>
                          <div>CLOSE</div>
                      </button>
                      <div class="navbar-collapse collapse">
                          <ul class="nav">
                              <li class="active"><a href="#">HOME</a></li>
                              <li><a href="#">PROJECTS</a></li>
                              <li><a href="#">EDIT PROFILE</a></li>
                              <li><%= link_to "SIGN OUT", sign_out_path %></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
<% end %>
<section class="header-16-sub" style="height: 718px;">
    <div id="h-16-pt-main" class="page-transitions pt-perspective">
        <div class="v-center pt-page pt-page-1 pt-page-current bg-turquoise">
            <div>
                <div class="background">&nbsp;</div>
                <div class="container">
                    <div class="hero-unit">
                        <h1><%= @user.name %></h1>
                    </div>
                </div>
            </div>
        
            <span class="pt-controls">
                <div class="container">
                    <a class="pt-control-prev">MORE STUFF</a>
                    <a class="pt-control-next" href="#">MORE STUFF</a>
                </div>
            </span>
        </div>
        <div class="v-center pt-page pt-page-2 bg-peter-river">
            <div>
                <div class="background">&nbsp;</div>
                <div class="container">
                    <div class="hero-unit">
                        <h1><%= @user.name %></h1>
                    </div>
                </div>
            </div>
            
            <span class="pt-controls">
                <div class="container">
                    <a class="pt-control-prev" href="#">MORE STUFF</a>
                    <a class="pt-control-next" href="#">MORE STUFF</a>
                </div>
            </span>
        </div>
        <div class="v-center pt-page pt-page-3 bg-emerland">
            <div>
                <div class="background">&nbsp;</div>
                <div class="container">
                    <div class="hero-unit">
                        <h1><%= @user.name %></h1>
                    </div>
                </div>
            </div>
            
            <span class="pt-controls">
                <div class="container">
                    <a class="pt-control-prev" href="#">MORE STUFF</a>
                    <a class="pt-control-next">MORE STUFF/a>
                </div>
            </span>
        </div>
    </div>
</section>