
<header class="header-21">
    <div class="container">
        <div class="navbar col-sm-12"> 
            <div class="collapse navbar-collapse">
                <ul class="nav">
                    <li class="active">
                        <a href="#">PROFILE</a>
                    </li>
                    <li>
                        <a href="#">ABOUT</a>
                    </li>
                    <li>
                        <a href="#">PROJECTS</a>
                    </li>
                    <li>
                        <header class="header-16">
                            <div class="container">
                                <div class="row">
                                    <div class="navbar" role="navigation">
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle">
                                                <span>MENU</span>
                                                <div>CLOSE</div>
                                            </button>
                                            <div class="navbar-collapse collapse">
                                                <ul class="nav">
                                                    <li class="active"><a href="#">HOME</a></li>
                                                    <li><a href="#">WORK</a></li>
                                                    <li><a href="#">BLOG</a></li>
                                                    <li><a href="#">CONTACT</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </header>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section class="header-21-sub v-center">
    <div>
        <div class="background">
            &nbsp;
        </div>
        <div class="container">
            <h3><%= image_tag @user.avatar.url %></h3>
            <p class="lead">
                @mitchocail
            </p>
        </div>
    </div>
</section>


<% if @posts.any? %>
    <section class="crew-1">
        <div class="container">
            <h3>Look what I've done...</h3>
            <% @posts.each do |post| %>
                <div class="members pull-left">
                    <div class="member-wrapper">
                        <div class="member">
                            <div class="photo-wrapper">
                                <div class="photo" style="background-image: url(file:///Users/mitchcail/Desktop/Startup_Framework/Developer/common-files/img/crew/vladimir-k.png);"><img src="../../common-files/img/crew/vladimir-k.png" alt="" style="display: none;"></div>
                                <div class="overlay"></div>
                            </div>
                            <div class="info">
                                <div class="name"><%= link_to post.title, post%></div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <!--/.container-->
    </section>
<% end %>

<% if @liked_posts.any? %>
    <section class="crew-1">
        <div class="container">
            <h3>Projects I'm lovin'...</h3>
            <% @liked_posts.each do |post| %>
                <div class="members pull-left">
                    <div class="member-wrapper">
                        <div class="member">
                            <div class="photo-wrapper">
                                <div class="photo" style="background-image: url(file:///Users/mitchcail/Desktop/Startup_Framework/Developer/common-files/img/crew/vladimir-k.png);"><img src="../../common-files/img/crew/vladimir-k.png" alt="" style="display: none;"></div>
                                <div class="overlay"></div>
                            </div>
                            <div class="info">
                                <div class="name"><%= link_to post.title, post%></div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
        <!--/.container-->
    </section>
<% end %>






