<h1><%= @user.name %></h1>

<% if current_user?(@user) %>
  <%= link_to "Edit Account", edit_user_path(@user) %>
  <%= link_to "Delete Account", @user,
            method: :delete,
            data: { confirm: 'Are you sure?'} %>
<% end %>