<header class="header-10">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="#">Launchify</a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-background"></div>
</header>
<header class="header-5">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="home" href="#"> <span class="fui-home"> </span></a>
                    <a class="search" href="#"> <span class="fui-search"> </span></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">WORK</a></li>
                        <li class="center"><a href="#"><span class="fui-eye"> </span><span>EYE ITEM</span></a></li>
                        <li><a href="#">BLOG</a></li>
                        <li><a href="#">CONTACTS</a></li>
                    </ul>
                </div>
                <form class="navbar-search">
                    <a class="close-search" href="#"><span class="fui-cross"> </span></a>
                    <input type="text" placeholder="Search query">
                </form>
            </div>
        </div>
    </div>
</header>
<section class="header-5-sub">
    <div id="h-5-pt-1" class="page-transitions pt-perspective" style="height: 909px;">
        <div class="pt-page pt-page-1 pt-page-current bg-midnight-blue" style="height: 909px;">
            <div class="background">&nbsp;</div>
            <div class="container">
                <div class="box-icon">
                    <a class="fui-arrow-left pt-control-prev" href="#"> </a>
                    <span class="icon fui-mic"> </span>
                    <a class="fui-arrow-right pt-control-next" href="#"> </a>
                </div>
                <div class="hero-unit">
                    <h1>Mail App</h1>
                    <p>Beautiful Project</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="crew-3">
    <div class="container">
        <div class="title">
            <a href="#">top trending</a>
            <a href="#" class="active">newest</a>
            <a href="#">top ranked all-time</a>
            <a href="#">recommended for you</a>
        </div>   
    </div>
</section>



<section class="crew-4">
    <div class="container">
        
            <div class="members">
            <% @posts.each do |post| %>
                <div class="member-wrapper">
                    <div class="member">
                        <div class="photo-wrapper">
                            <div class="photo" style="background-image: url(file:///Users/mitchcail/Desktop/Startup_Framework/Developer/common-files/img/crew/vladimir-k.png);"><img src="../../common-files/img/crew/vladimir-k.png" alt="" style="display: none;"></div>
                            <div class="overlay">
                                
                            </div>
                        </div>
                        <div class="info">
                            <div class="name"><%= link_to post.title, post %></div>
                            <%= post.description %>
                            <div class="contacts">
                                <%= post.link %><br>
                                <a href="#">@mitchocail</a>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>                
            </div>

    </div>
    <!--/.container-->
</section>