<header class="header-10">
    <div class="container">
        <div class="row">
            <div class="navbar col-sm-12" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"></button>
                    <a class="brand" href="#">Launchify</a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav pull-left">
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-background"></div>
</header>

<section class="crew-3">
    <div class="container">
        <div class="title">
            <a href="#">top trending</a>
            <a href="#" class="active">newest</a>
            <a href="#">top ranked all-time</a>
            <a href="#">recommended for you</a>
        </div>   
    </div>
</section>

<section class="crew-4">
    <div class="container">
        
            <div class="members">
            <% @posts.each do |post| %>
                <div class="member-wrapper">
                    <div class="member">
                        <div class="photo-wrapper">
                            <div class="photo" style="background-image: url(file:///Users/mitchcail/Desktop/Startup_Framework/Developer/common-files/img/crew/vladimir-k.png);"><img src="../../common-files/img/crew/vladimir-k.png" alt="" style="display: none;"></div>
                            <div class="overlay">
                                
                            </div>
                        </div>
                        <div class="info">
                            <div class="name"><%= link_to post.title, post %></div>
                            <%= post.description %>
                            <div class="contacts">
                                <%= post.link %><br>
                                <%= link_to post.user.name, post.user %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>                
            </div>

    </div>
    <!--/.container-->
</section>