<div class="bs-docs-header" id="content">
    <div class="container">
        <h1>Explore New Ideas</h1>
        <div class="row">
        	<div class="col-md-6">
        		<p>Over a dozen reusable components built to provide iconography, dropdowns, input groups, navigation, alerts, and much more.</p>
        		<br/>
        		<%= link_to 'Add New Post', new_post_path, class: "btn btn-warning btn-lg" %>
        	</div>
        	<div class="col-md-2"></div>

        	<%= image_tag "space-ship.png", height: '150', width: '150' %>
        </div>
    </div>
</div>

</br>

<div class="container">
	</br>
		<% @posts.each do |post| %>
    
    <div class="row form-group product-chooser">
    
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="product-chooser-item">
          <img src="http://i1-news.softpedia-static.com/images/news2/Picture-of-the-Day-Red-Panda-Relaxes-on-a-Fence-2.jpg?1361003232" class="img-rounded col-xs-4 col-sm-4 col-md-12 col-lg-12" alt="Mobile and Desktop">
                <div class="col-xs-8 col-sm-8 col-md-12 col-lg-12">
            <span class="title"><%= link_to post.title, post_path(post) %></span>
            <span class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</span>
            <input type="radio" name="product" value="mobile_desktop" checked="checked">
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>

	 	<% end %>
</div>


<%= javascript_tag do %>
  $(function(){
  $('div.product-chooser').not('.disabled').find('div.product-chooser-item').on('click', function(){
    $(this).parent().parent().find('div.product-chooser-item').removeClass('selected');
    $(this).addClass('selected');
    $(this).find('input[type="radio"]').prop("checked", true);
    
  });
});
<% end %>


