<h2>There are <%= @posts.count %> Posts on this page </h2>

<%= link_to 'Add New Post', new_post_path %>

<table class="table">
	<% @posts.each do |post| %>
	<tr>
 		<td>
 			<p>
 			<strong><%= post.title %></strong>
 			<p><%= post.link %></p>
 			</p>
 		</td>
 	</tr>
 	<% end %>
</table>




